# 1. pandas 라이브러리 import 하기

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame # pandas 자료구조

In [2]:
import numpy as np
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc("figure", figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
pd.options.display.max_columns = 20
pd.options.display.max_colwidth = 80
np.set_printoptions(precision=4, suppress=True)
plt.rcParams["font.family"] = 'Malgun Gothic' # 폰트 변경 정보

# 2. Series
* 일련의 객체를 담을 수 있는 1차원 데이터(스칼라, 리스트, 튜플, 사전) 벡터 같은 자료구조
* 파이썬의 일차원 데이터를 저장, 처리, 분석을 위한 다양한 기능들을 제공
* 인덱스와 값으로 구성

# 2.1) Series 생성

# 1) List를 사용하여 Series 생성

In [3]:
data = [4, 7, -5, 3] # 파이선의 리스트 변수 타입
obj = pd.Series(data) # Series([4, 7, -5, 3])
obj # 시리즈 객체: 색인(0부터 시작)과 데이터

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
obj.index # 순서 존재: 숫자, 문자열(lable)
obj.values

array([ 4,  7, -5,  3])

In [6]:
# OR
obj.index =["d", "b", "a", "c"] # 색인 변경
obj

d    4
b    7
a   -5
c    3
dtype: int64

In [7]:
obj2 = pd.Series([4, 7, -5, 3], index=["d", "b", "a", "c"]) # 인덱스 라벨 지정하기
obj2
obj2.index # 지정된 인덱스 확인

Index(['d', 'b', 'a', 'c'], dtype='object')

In [13]:
# 단일된 값 또는 여러 개의 값을 선택할 때 색인으로 레이블을 이용
# index을 이용하여 시리즈의 특정 값을 확인
print(obj2)
obj2["a"]
# 인덱스를 이용하여 시리즈의 특정 값을 변경
obj2["d"] = 6
obj2["d"]
# 인덱스를 이용하여 시리즈의 여러 개의 값들을 추출
obj2[["c", "a", "d"]]

d    6
b    7
a   -5
c    3
dtype: int64

c    3
a   -5
d    6
dtype: int64

In [17]:
print(obj2)
cond = obj2 > 0
cond
obj2[cond] # 조건부 색인: 불리언 배열을 사용하여 값을 걸러내기
obj * 2 # 행렬 스칼라 연산

d    6
b    7
a   -5
c    3
dtype: int64

d     8
b    14
a   -10
c     6
dtype: int64

In [21]:
"b" in obj2 # 인덱스 존재 유무 확인
"e" in obj2
0 in obj2

False

In [10]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
obj3 = pd.Series(sdata)
obj3

# 2) Tuple을 이용하여 Series 생성하기

In [ ]:
arr = (3, 4, 1, 2) # tuple 생성

# 3) Dict을 이용하여 Series 생성하기

In [11]:
obj3.to_dict()

In [22]:
states = ["California", "Ohio", "Oregon", "Texas"]
obj4 = pd.Series(sdata, index=states)
obj4

NameError: name 'sdata' is not defined

In [13]:
pd.isna(obj4)
pd.notna(obj4)

# ** 몇 가지 Series 특징들 **

In [23]:
obj3.values
type(obj3,values)

NameError: name 'obj3' is not defined

* 값에는 모든 데이터 타입 사용이 가능

In [25]:
Series(['big data', 10, 4.5, [1,2,3], {'a':1, 'b':2}, Series([1,2,3])])

0                             big data
1                                   10
2                                  4.5
3                            [1, 2, 3]
4                     {'a': 1, 'b': 2}
5    0    1
1    2
2    3
dtype: int64
dtype: object

In [26]:
obj3.to_dict() # series -> python dictionary로 변환

NameError: name 'obj3' is not defined