In [14]:
# 2번 문제
import pandas as pd

# 데이터 생성
data = {
    'CustomerID': ['C1', 'C2', 'C3', 'C4'],
    'Product': ['A', 'B', 'A', 'B'],
    'Quantity': [10, 15, 10, 20]
}

df = pd.DataFrame(data)
print(df)

  CustomerID Product  Quantity
0         C1       A        10
1         C2       B        15
2         C3       A        10
3         C4       B        20

In [15]:
# 2-(1) 피벗 테이블을 사용하여 각 제품별 총 수량 계산
pivot_df = pd.pivot_table(df, 
                          index='Product', 
                          values='Quantity', 
                          aggfunc='sum')
print(pivot_df)

         Quantity
Product
A              20
B              35

In [16]:
# 2-(2) 피벗 테이블을 사용하여 각 고객이 구매한 제품별 총 수량 계산
pivot_df = pd.pivot_table(df, 
                          index='CustomerID', 
                          columns='Product', 
                          values='Quantity', 
                          aggfunc='sum')
print(pivot_df)

Product        A     B
CustomerID
C1          10.0   NaN
C2           NaN  15.0
C3          10.0   NaN
C4           NaN  20.0

In [17]:
# 2-(3) 피벗 테이블을 사용하여 각 제품별 평균 수량 계산
pivot_df = pd.pivot_table(df, 
                          index='Product', 
                          values='Quantity', 
                          aggfunc='mean').reset_index()
print(pivot_df)

  Product  Quantity
0       A      10.0
1       B      17.5

In [24]:
# 3번 문제
import pandas as pd

# 데이터 생성
data = {
    '도시': ['서울', '서울', '대구', '광주'],
    '날짜': ['2024-06-01', '2024-06-02', '2024-06-01', '2024-06-01'],
    '최고 온도': [28, 30, 32, 29],
    '최저 온도': [18, 20, 21, 19]
}

df = pd.DataFrame(data)

# groupby와 idxmax를 사용하여 각 도시별 최고 온도가 가장 높은 행의 인덱스를 찾기
idx = df.groupby('도시')['최고 온도'].idxmax()

# 해당 인덱스를 사용하여 원래 데이터프레임에서 행을 선택
result = df.loc[idx].reset_index(drop=True)
print(result)

   도시          날짜  최고 온도  최저 온도
0  광주  2024-06-01     29     19
1  대구  2024-06-01     32     21
2  서울  2024-06-02     30     20

In [37]:
# 4번 문제
import pandas as pd 

# 주어진 데이터프레임 
data = {
    '날짜': ['2024-06-01', '2024-06-02', '2024-06-03', '2024-06-04', '2024-06-05'],
    '종가': [100, 102, 101, 105, 107] } 

df = pd.DataFrame(data)

# '날짜' 열의 데이터를 datetime 형식으로 변환
df['날짜'] = pd.to_datetime(df['날짜'])

# '날짜' 열을 인덱스로 설정
df.set_index('날짜', inplace=False)
print(df)

# '2일 이동 합계' 열 추가
df['2일 이동 합계'] = df['종가'].rolling(window=2).sum()

df

          날짜   종가
0 2024-06-01  100
1 2024-06-02  102
2 2024-06-03  101
3 2024-06-04  105
4 2024-06-05  107

          날짜   종가  2일 이동 합계
0 2024-06-01  100       NaN
1 2024-06-02  102     202.0
2 2024-06-03  101     203.0
3 2024-06-04  105     206.0
4 2024-06-05  107     212.0

In [40]:
# 8번 문제
import pandas as pd

cities = ['서울', '대구', '인천', '서울', '대구', '서울'] 
df = pd.DataFrame(cities, columns=['City']) 
encoded = pd.get_dummies(df['City'])
df_encoded = pd.concat([df, encoded], axis=1) 

print(df_encoded)

  City     대구     서울     인천
0   서울  False   True  False
1   대구   True  False  False
2   인천  False  False   True
3   서울  False   True  False
4   대구   True  False  False
5   서울  False   True  False

In [43]:
# 9번 문제
import pandas as pd

# 예제 데이터프레임 생성
data = {
    'OrderID': [1, 2, 3, 4],
    'CustomerID': ['C1', 'C2', 'C3', 'C4'],
    'Product': ['A', 'B', 'A', 'B'],
    'Quantity': [10, 15, 10, 20]
}
df = pd.DataFrame(data)
print(df)

# pivot_table을 사용하여 CustomerID와 Product별 총 구매 수량 계산
pivot_df = df.pivot_table(values='Quantity', index='CustomerID', columns='Product', aggfunc='sum', fill_value=0)

# stack을 사용하여 MultiIndex Series로 변환
stacked_df = pivot_df.stack()

# 결과 출력
print(stacked_df)

   OrderID CustomerID Product  Quantity
0        1         C1       A        10
1        2         C2       B        15
2        3         C3       A        10
3        4         C4       B        20
CustomerID  Product
C1          A          10
            B           0
C2          A           0
            B          15
C3          A          10
            B           0
C4          A           0
            B          20
dtype: int64