In [9]:
# 중간고사 연습문제 9번
import pandas as pd
data = pd.DataFrame({'이름' : ['철수','영희','민수','지영'],
                     '나이' : [25,30,22,28],
                     '성별' : ['남자','여자','남자','여자']})
print(data)

   이름  나이  성별
0  철수  25  남자
1  영희  30  여자
2  민수  22  남자
3  지영  28  여자

In [40]:
# 중간고사 연습문제 10번
import pandas as pd
df = pd.DataFrame({'col1' : ['a','b','c'],
                     'col2' : [1,2,3]})

df.loc[:1, 'col1':'col2'] # :1 -> 처음부터 1번째 행까지 출력

  col1  col2
0    a     1
1    b     2

In [ ]:
# 중간고사 연습문제 11번

In [42]:
# 중간고사 연습문제 12번
import pandas as pd
df1 = pd.DataFrame({'col1' : ['a','b','c'],
                  'col2' : [1,2,3]})

df2 = pd.DataFrame({'col3' : ['a','b','f'],
                  'col4' : [10,20,30]})

pd.merge(df1, df2, right_index = True, left_index = True)

  col1  col2 col3  col4
0    a     1    a    10
1    b     2    b    20
2    c     3    f    30

In [34]:
# 중간고사 연습문제 23번
import pandas as pd
df3 = pd.DataFrame({"A":["a0","a1","a2"],
                    "B": ["b0","b1","b2"]})

df4 = pd.DataFrame({"A":["a3","a4","a5"],
                    "B": ["b3","b4","b5"]})

#print(df3,"\n\n", df4)

result = pd.concat([df3,df4], axis=0) # 수직으로 이어붙이기
# result = pd.concat([df3,df4], axis=1) # 수평으로 이어붙이기
print(result)

    A   B
0  a0  b0
1  a1  b1
2  a2  b2
0  a3  b3
1  a4  b4
2  a5  b5