In [9]:
# 중간고사 연습문제 9번
import pandas as pd
data = pd.DataFrame({'이름' : ['철수','영희','민수','지영'],
                     '나이' : [25,30,22,28],
                     '성별' : ['남자','여자','남자','여자']})
print(data)

   이름  나이  성별
0  철수  25  남자
1  영희  30  여자
2  민수  22  남자
3  지영  28  여자

In [40]:
# 중간고사 연습문제 10번
import pandas as pd
df = pd.DataFrame({'col1' : ['a','b','c'],
                     'col2' : [1,2,3]})

df.loc[:1, 'col1':'col2'] # :1 -> 처음부터 1번째 행까지 출력

  col1  col2
0    a     1
1    b     2

In [ ]:
# 중간고사 연습문제 11번
이건 답이 뭘까

In [42]:
########### 중간고사 연습문제 12번
import pandas as pd
df1 = pd.DataFrame({'col1' : ['a','b','c'],
                  'col2' : [1,2,3]})

df2 = pd.DataFrame({'col3' : ['a','b','f'],
                  'col4' : [10,20,30]})

pd.merge(df1, df2, right_index = True, left_index = True)

  col1  col2 col3  col4
0    a     1    a    10
1    b     2    b    20
2    c     3    f    30

In [55]:
# 중간고사 연습문제 13번
import pandas as ps
df = pd.DataFrame({'name': ["철수", "영희", "민수", "지영"],
                 'score': [75,88,92,68,]})

df1 = df[df['score'] > 80]
print(df1)

  name  score
1   영희     88
2   민수     92

In [59]:
# 중간고사 연습문제 14번
import pandas as pd
data = {'name': ["철수","영희",None,"지영"], 'score':[75, 88, None, 68]}
df = pd.DataFrame(data)
result = df.isna() # 결측치가 있는지 없는지 확인
print(result)

    name  score
0  False  False
1  False  False
2   True   True
3  False  False

In [96]:
# 중간고사 연습문제 15번
import pandas as pd
data = {'name': ["철수","영희","민수"], 'score':[75, 88, 92]}
df = pd.DataFrame(data)
print(df)
df.describe()

  name  score
0   철수     75
1   영희     88
2   민수     92

           score
count   3.000000
mean   85.000000
std     8.888194
min    75.000000
25%    81.500000
50%    88.000000
75%    90.000000
max    92.000000

In [75]:
# 중간고사 연습문제 16번
import pandas as pd
data = {'col1': [1,2,3], 'col2':[4,5,6]}
df = pd.DataFrame(data)

df.apply(lambda row: row['col1']+ row['col2'], axis="columns")

0    5
1    7
2    9
dtype: int64

In [80]:
# 중간고사 연습문제 17번 (23번이랑 같은 유형)
import pandas as pd
df1 = pd.DataFrame({'name': ["철수","영희","민수"], 'score':[75,88,92]})
df2 = pd.DataFrame({'name': ["지영","다현"], 'score':[68,95]})
df3 = pd.concat([df1,df2], axis=0)
print(df3)

  name  score
0   철수     75
1   영희     88
2   민수     92
0   지영     68
1   다현     95

In [86]:
# 중간고사 연습문제 18번
import pandas as pd
df1 = pd.DataFrame({'name': ["철수","영희","민수"], 'score':[75,88,92]})
df2 = pd.DataFrame({'name': ["영희","철수","지영","다현"], 'attendence_rate':[90,80,95,85]})
df3 = pd.merge(df1, df2, on='name', how='inner') 
print(df3)
# inner: 이 옵션은 두 데이터프레임에서 공통된 키(열)를 기준으로 내부 결합을 수행
# outer: 외부 결합은 두 데이터프레임의 모든 행을 병합합니다. 공통된 키(열)가 있는 경우 해당 행을 병합하고, 한 쪽에만 있는 행은 결합되는 쪽에 결측치(null 또는 NaN 값)로 채워집니다.
# left: 이 옵션은 첫 번째 데이터프레임에 있는 모든 행을 유지하면서, 두 번째 데이터프레임과 공통된 키(열)가 있는 경우에만 해당 행을 병합
# right: 이 옵션은 왼쪽과 반대로 두 번째 데이터프레임에 있는 모든 행을 유지하면서, 첫 번째 데이터프레임과 공통된 키(열)가 있는 경우에만 해당 행을 병합

  name  score  attendence_rate
0   철수     75               80
1   영희     88               90

In [88]:
# 중간고사 22번 문제
import pandas as pd

# 주어진 딕셔너리 데이터
data = {
    '이름': ['철수', '영희', '민수', '지영'],
    '나이': [25, 30, 22, 28],
    '성별': ['남자', '여자', '남자', '여자']
}

# DataFrame 생성
df = pd.DataFrame(data)

# CSV 파일로 저장
df.to_csv('data.csv', index=False)  # index=False를 설정하여 인덱스를 저장하지 않습니다.

# JSON 파일로 저장
df.to_json('data.json', orient='records')  # orient='records'를 설정하여 레코드 단위로 저장합니다.

In [87]:
# 중간고사 연습문제 23번 (17번이랑 같은 유형)
import pandas as pd
df3 = pd.DataFrame({"A":["a0","a1","a2"],
                    "B": ["b0","b1","b2"]})

df4 = pd.DataFrame({"A":["a3","a4","a5"],
                    "B": ["b3","b4","b5"]})

#print(df3,"\n\n", df4)

result = pd.concat([df3,df4], axis=0) # 수직으로 이어붙이기
result = pd.concat([df3,df4], axis=1) # 수평으로 이어붙이기
print(result)

    A   B   A   B
0  a0  b0  a3  b3
1  a1  b1  a4  b4
2  a2  b2  a5  b5

In [92]:
# 중간고사 연습문제 24번
import pandas as pd
# 두 개의 데이터프레임 생성
left = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
'A': ['A0', 'A1', 'A2']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'B': ['B0', 'B1', 'B2']})

result = pd.merge(left, right, on='key', how='inner')
print(left)
print(right)

print(result)

  key   A
0  K0  A0
1  K1  A1
2  K2  A2
  key   B
0  K0  B0
1  K1  B1
2  K2  B2
  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

In [129]:
import pandas as pd

# 학생들의 성적을 담은 데이터프레임 df 생성
df = pd.DataFrame({'이름': ['철수', '영희', '민수'],
                   '성적': [80, 75, 90]})

# 지영의 성적을 담은 데이터프레임 생성
new_student = pd.DataFrame({'이름': ['지영'], '성적': [85]}, index=[len(df)])

# concat() 함수를 사용하여 데이터프레임 df와 새로운 데이터프레임 new_student를 수직으로 결합
result1 = pd.concat([df, new_student])

# merge() 함수를 사용하여 데이터프레임 병합
result2 = pd.merge(df, new_student, how='outer')

print(result1)
print()
print(result2)

   이름  성적
0  철수  80
1  영희  75
2  민수  90
3  지영  85

   이름  성적
0  민수  90
1  영희  75
2  지영  85
3  철수  80